.Header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.TopBar {

    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.TopBarLogoDiv {
    display: flex;
}

.TopBarTextDiv {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.TopBarButtonDiv {

    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

.TopBarButtonDiv a {
    padding-left: 10px;
}

.HeaderResume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: radial-gradient(circle, #151120 15%, #060714 50%);
}

.HeaderMainText {

    margin-left: auto;
    margin-right: auto;

    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 100%;

    text-align: center;
    letter-spacing: 0.2px;

    color: #FFFFFF;
}

.HeaderSubText {
    padding-bottom: 10px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #7780A1;
}

.MainTextHeader {
    font-family: 'Inter';
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HeaderLogotypes {
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 8%;

    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.HeaderLogotypes .logo {
    padding-left: 10px;
    padding-right: 10px;
}
